<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArtemisModLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      
      <!--
          Log file name changed to mechanism below so that I just easily cut-and-paste this to other applications, and have 
          log file be named and located appropriately without having to change this text 
          
          -->
      <file type="log4net.Util.PatternString" >
        <converter>
          <name value="logFile" />
          <type value="RussLibrary.Helpers.LogFilePatternConverter, RussLibrary" />
          <!--
                The converter above names the log file: "%APPDATA%\Company\Application\app.log" 
                where "Company" is the Company property found in the Entry Assembly, and "Application"
                is the Filename of the Entry executable, without the ".exe" extension.
          -->

        </converter>
        <conversionPattern value="%logFile" />
      </file>
      
      
      <!--  Original log file path definition: <param name="File" value="${APPDATA}\Russ Judge\ArtemisModLoader\application.log" />-->

      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="***************  Program Start   ***********************&#xD;&#xA;"/>
        <footer value="***************   Program End   ***********************&#xD;&#xA;"/>
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="WARN"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <ArtemisModLoader.Properties.Settings>
      <setting name="MainWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </ArtemisModLoader.Properties.Settings>
  </userSettings>
</configuration>
