<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtemisModLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArtemisModLoader.Properties.Settings>
            <setting name="ModManagerColorLight" serializeAs="String">
                <value>#79FFFFFF</value>
            </setting>
            <setting name="ModManagerColorDark" serializeAs="String">
                <value>#796DEF34</value>
            </setting>
            <setting name="MissionColorLight" serializeAs="String">
                <value>#79FFFFFF</value>
            </setting>
            <setting name="MissionColorDark" serializeAs="String">
                <value>#798A0000</value>
            </setting>
            <setting name="ModDefinerLight" serializeAs="String">
                <value>#79FF9727</value>
            </setting>
            <setting name="ModDefinerDark" serializeAs="String">
                <value>#79B9E4FF</value>
            </setting>
            <setting name="ModSelectorLight" serializeAs="String">
                <value>#79FFFC00</value>
            </setting>
            <setting name="ModSelectorDark" serializeAs="String">
                <value>#79C4BFF8</value>
            </setting>
            <setting name="SessionMonitorLight" serializeAs="String">
                <value>#7900FF10</value>
            </setting>
            <setting name="SessionMonitorDark" serializeAs="String">
                <value>#79FFFF0D</value>
            </setting>
            <setting name="SettingsLight" serializeAs="String">
                <value>#79D49696</value>
            </setting>
            <setting name="SettingsDark" serializeAs="String">
                <value>#79EFEF0C</value>
            </setting>
            <setting name="ActionLight" serializeAs="String">
                <value>#797FF816</value>
            </setting>
            <setting name="ActionDark" serializeAs="String">
                <value>#79F29700</value>
            </setting>
            <setting name="FileMappingsLight" serializeAs="String">
                <value>#79DFCFF5</value>
            </setting>
            <setting name="FileMappingsDark" serializeAs="String">
                <value>#79F28282</value>
            </setting>
            <setting name="VariationsLight" serializeAs="String">
                <value>#79F5E64B</value>
            </setting>
            <setting name="VariationsDark" serializeAs="String">
                <value>#794EA6F2</value>
            </setting>
            <setting name="ArtemisINILight" serializeAs="String">
                <value>#79E2F5F5</value>
            </setting>
            <setting name="ArtemisINIDark" serializeAs="String">
                <value>#798DC3E5</value>
            </setting>
            <setting name="HullRaceLight" serializeAs="String">
                <value>#7967A1FC</value>
            </setting>
            <setting name="HullRaceDark" serializeAs="String">
                <value>#79BE5AFC</value>
            </setting>
            <setting name="VesselLight" serializeAs="String">
                <value>#791CF2B0</value>
            </setting>
            <setting name="VesselDark" serializeAs="String">
                <value>#79EF9D1C</value>
            </setting>
            <setting name="MergeLight" serializeAs="String">
                <value>#79FFFFFF</value>
            </setting>
            <setting name="MergeDark" serializeAs="String">
                <value>#79FFFFFF</value>
            </setting>
            <setting name="SelectMergeLight" serializeAs="String">
                <value>#7960F260</value>
            </setting>
            <setting name="SelectMergeDark" serializeAs="String">
                <value>#79E87777</value>
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </ArtemisModLoader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
